%h1 食品の詳細

.nav.justify-content-end
  = link_to '一覧', foods_path, class: 'nav-link'
%table.table
  %tbody
    %tr
      %th= Food.human_attribute_name(:name)
      %td= @food.name
    %tr
      %th= Food.human_attribute_name(:number)
      %td= @food.number
    %tr
      %th= Food.human_attribute_name(:unit)
      %td= @food.unit
    %tr
      %th= Food.human_attribute_name(:description)
      %td= simple_format(h(@food.description), {}, sanitize: false, wrapper_tag: "div")
    %tr
      %th= Food.human_attribute_name(:purchase)
      %td= @food.purchase

= link_to edit_food_path(@food), class: 'btn btn-secondary mr-3' do
  %i.fa-solid.fa-pen.fa-1x
= link_to @food, method: :delete, data: { confirm: "食品「#{@food.name}」を削除します。よろしいですか？" }, class: 'btn btn-danger' do
  %i.fa-solid.fa-trash-can.fa-1x
